@model MegwayParcel.Common.Data.DeliveryDetail

@{
    Layout = "/Views/Shared/_NewLayout.cshtml";

    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>DeliveryDetail</h4>
<input id="some" name="somename"
    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
    type = "text"
    maxlength = "63"
 />
<iframe width="560" height="315"  src="https://www.transglobalexpress.co.uk/services/dhl-express/" frameborder="0" allowfullscreen></iframe>
@*<iframe src="https://www.transglobalexpress.co.uk/Tracking/TrackShipmentNEW/?orderID=4851125&deliveryPostcode=PI21%200LT"></iframe>*@