@model MegwayParcel.Common.Data.Page

@{

    ViewData["Title"] = "Index";
}

<link rel="stylesheet" type="text/css" href="https://adminlte.io/themes/v3/plugins/summernote/summernote-bs4.min.css" />



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://adminlte.io/themes/v3/plugins/summernote/summernote-bs4.min.js"></script>

<div class="card">
    <div class="bg-primary card-header text-light d-flex justify-content-between align-items-center">
        List
        @* <a href="/Page/Index"><button type="button" class="btn btn-light btn-sm rounded-pill">Index</button></a> *@
    </div>
    <div class="card-body">
        <div class="row">
            <input asp-for="PageId" hidden="hidden" />
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Title<span style="color:red">*</span></label>
                    <input asp-for="Title" class="form-control" required="required" data-validation-required-message="Fill the required fields" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="ParentId">Parent Page</label>
                    @Html.DropDownList("ParentId", (SelectList)ViewBag.pageDropdown, "Select a page", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Prefix<span style="color:red">*</span></label>
                    <input asp-for="Prefix" class="form-control" required="required" data-validation-required-message="Fill the required fields" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Prefix<span style="color:red">*</span></label>
                    <input asp-for="SortOrder" class="form-control" required="required" data-validation-required-message="Fill the required fields" />
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label">Details<span style="color:red">*</span></label>
                    <textarea asp-for="Detail" id="summernote" name="editor"></textarea>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button id="btnSave" type="button" class="btn btn-success">Save</button>
        </div>
    </div>
</div>

<script>
    $('#submitBtn').click(function () {
        var content = $('#summernote').summernote('code');
        // Submit content to server
    });
    $(document).ready(function () {
        $('#summernote').summernote();
       
    });

    $('#btnSave').click(function () {
        let _obj = {};
        _obj['PageId'] = $('#PageId').val();
        _obj['Title'] = $('#Title').val();
        _obj['ParentId'] = $('#ParentId').val();
        _obj['Prefix'] = $('#Prefix').val();
        _obj['SortOrder'] = $('#SortOrder').val();
        _obj['Detail'] = $('#summernote').summernote('code');

        $.ajax({
            url: "/Page/Save",
            type: "POST",
            data: _obj,
            cache: false,
            success: function () {
                window.location.href = "/Page/Index";
            },
            error: function () { },
            complete: function () {
            }
        });
    });



</script>