@{
    Layout = "/Views/Shared/_WebsiteLayout.cshtml";
}

<!-- Header Start -->
<div class="jumbotron jumbotron-fluid mb-5">
    <div class="container text-center py-5">
        <h1 class="text-white mb-4">BOOK YOUR LETTERS AND PARCELS</h1>
        <h1 class="text-primary display-3 mb-5">WITH MEGWAY</h1>
        <div class="mx-auto" style="width: 100%; max-width: 600px;">
            <div class="input-group">
                <input type="text" class="form-control border-light" style="padding: 30px;" placeholder="Tracking Id">
                <div class="input-group-append">
                    <button class="btn btn-primary px-3">GET QUOTE</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->
<!-- Our Delivery Partner Start -->
<div class="container-fluid py-5">
    <div class="container">

        <div class="text-center pb-2">
            @*<h6 class="text-primary text-uppercase font-weight-bold">Testimonial</h6>*@
            <h1 class="text-primary text-uppercase font-weight-bold">OUR DELIVERY PARTNERS</h1>
        </div>
        <div class="owl-carousel testimonial-carousel">
            <div class="position-relative">
                <div class="d-flex align-items-center">
                    <img class="img-fluid" src="/image/partners/dhl.png" style="width: 300px; height: 91px;" alt="">
                </div>
            </div>
            <div class="position-relative">
                <div class="d-flex align-items-center">
                    <img class="img-fluid" src="/image/partners/dpd.png" style="width: 300px; height: 91px;" alt="">
                </div>
            </div>
            <div class="position-relative">
                <div class="d-flex align-items-center">
                    <img class="img-fluid" src="/image/partners/dtdc.png" style="width: 300px; height: 91px;" alt="">
                </div>
            </div>
            <div class="position-relative">
                <div class="d-flex align-items-center">
                    <img class="img-fluid" src="/image/partners/dx.png" style="width: 300px; height: 91px;" alt="">
                </div>
            </div>
            <div class="position-relative">
                <div class="d-flex align-items-center">
                    <img class="img-fluid" src="/image/partners/evri.png" style="width: 300px; height: 91px;" alt="">
                </div>
            </div>
            <div class="position-relative">
                <div class="d-flex align-items-center">
                    <img class="img-fluid" src="/image/partners/fdl.png" style="width: 300px; height: 91px;" alt="">
                </div>
            </div>
            <div class="position-relative">
                <div class="d-flex align-items-center">
                    <img class="img-fluid" src="/image/partners/FedEx.png" style="width: 300px; height: 91px;" alt="">
                </div>
            </div>
            <div class="position-relative">
                <div class="d-flex align-items-center">
                    <img class="img-fluid" src="/image/partners/landmark.png" style="width: 300px; height: 91px;" alt="">
                </div>
            </div>
            <div class="position-relative">
                <div class="d-flex align-items-center">
                    <img class="img-fluid" src="/image/partners/tgglobal.png" style="width: 300px; height: 91px;" alt="">
                </div>
            </div>
            <div class="position-relative">
                <div class="d-flex align-items-center">
                    <img class="img-fluid" src="/image/partners/tgexpress.png" style="width: 300px; height: 91px;" alt="">
                </div>
            </div>
            <div class="position-relative">
                <div class="d-flex align-items-center">
                    <img class="img-fluid" src="/image/partners/tgint.png" style="width: 300px; height: 91px;" alt="">
                </div>
            </div>
            <div class="position-relative">
                <div class="d-flex align-items-center">
                    <img class="img-fluid" src="/image/partners/tnt.png" style="width: 300px; height: 91px;" alt="">
                </div>
            </div>
            <div class="position-relative">
                <div class="d-flex align-items-center">
                    <img class="img-fluid" src="/image/partners/ups.png" style="width: 300px; height: 91px;" alt="">
                </div>
            </div>
            <div class="position-relative">
                <div class="d-flex align-items-center">
                    <img class="img-fluid" src="/image/partners/usps.png" style="width: 300px; height: 91px;" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Our Delivery Partner End -->
<!-- Services Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <h1 class="text-primary text-uppercase font-weight-bold">Our Services</h1>
            <h6 class="mb-4">Best Logistic Services</h6>
        </div>
        <div class="row pb-3">
            <div class="col-lg-3 col-md-6 mb-5">
                <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                    <i class="fa fa-2x fa-plane text-dark pr-3"></i>
                    <h6 class="text-white font-weight-medium m-0">Parcel Bookings</h6>
                </div>
                <ul>
                    <li>Next Day Delivery</li>
                    <li>2 Day Delivery</li>
                    <li>Timed Delivery</li>
                    <li>UK to UK Deliveries</li>
                    <li>International Deliveries</li>
                </ul>
                <a class="border-bottom text-decoration-none" href="">Read More</a>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                    <i class="fa fa-2x fa-truck text-dark pr-3"></i>
                    <h6 class="text-white font-weight-medium m-0">Delivery</h6>
                </div>
                <ul>
                    <li>Economical</li>
                    <li>Fast Delivery</li>
                    <li>Secure Delivery</li>
                </ul>
                <a class="border-bottom text-decoration-none" href="">Read More</a>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                    <i class="fa fa-2x fa-truck text-dark pr-3"></i>
                    <h6 class="text-white font-weight-medium m-0">Packing</h6>
                </div>
                <ul>
                    <li>Professional Packaging</li>
                    <li>Mail Box Services</li>
                </ul>
                <a class="border-bottom text-decoration-none" href="">Read More</a>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                    <i class="fa fa-2x fa-print text-dark pr-3"></i>
                    <h6 class="text-white font-weight-medium m-0">Printing</h6>
                </div>
                <ul>
                    <li>Photocoying</li>
                    <li>Scanning</li>
                    <li>Fax</li>
                </ul>
                <a class="border-bottom text-decoration-none" href="">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->

<!-- Features Start -->
<div class="container-fluid bg-secondary my-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <img class="img-fluid w-100" src="/image/feature.jpg" alt="">
            </div>
            <div class="col-lg-8 py-5 py-lg-0">
                <h1 class="text-primary text-uppercase font-weight-bold">Why Choose Us</h1>
                <p class="mb-4">Megway is the Faster, Safe and Trusted Logistics Services We have more than 8 years of Delivering Experience</p>
                <ul class="list-inline">
                    <li><h6><i class="far fa-dot-circle text-primary mr-3"></i>Best In Industry</h6>
                    <li><h6><i class="far fa-dot-circle text-primary mr-3"></i>Send Multiple Parcels</h6></li>
                    <li><h6><i class="far fa-dot-circle text-primary mr-3"></i>Lowest Rates</h6></li>
                </ul>
                <a href="#" class="btn btn-primary mt-3 py-2 px-4">Learn More</a>
            </div>
        </div>
    </div>
</div>
<!-- Features End -->

