@model MegwayParcel.Web.Models.LoginVM
@{
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

<input type="hidden" id="email" value="@Model.Email" />
<input type="hidden" id="customerId" value="@Model.Id" />


<!-- **************** MAIN CONTENT START **************** -->
<main>

    <!-- =======================
    Main Content START -->
    <section class="vh-xxl-100">
        <div class="container h-100 d-flex px-0 px-sm-4">
            <div class="row justify-content-center align-items-center m-auto">
                <div class="col-12">
                    <div class="bg-mode shadow rounded-3 overflow-hidden">
                        <div class="row g-0">
                            <!-- Vector Image -->
                            <div class="col-lg-6 d-flex align-items-center order-2 order-lg-1">
                                <div class="p-3 p-lg-5">
                                    <img src="~/new-theme/assets/images/element/forgot-pass.svg" alt="">
                                </div>
                                <!-- Divider -->
                                <div class="vr opacity-1 d-none d-lg-block"></div>
                            </div>

                            <!-- Information -->
                            <div class="col-lg-6 order-1">
                                <div class="p-4 p-sm-7">
                                    <!-- Logo -->
                                    <a href="/Home">
                                        <img class="h-70px mb-4" src="~/image/logo.jpg" alt="logo">
                                    </a>
                                    <!-- Title -->
                                    <h1 class="mb-2 h3">Verify Code</h1>
                                    <p class="mb-0">New here?<a href="/Account/Register"> Create an account</a></p>

                                    <!-- Form START -->
                                    <!-- Email -->
                                    <div class="mb-3">
                                        <label class="form-label">Code</label>
                                        <input id="code" type="text" class="form-control" required="required" data-validation-required-message="Please enter your code" />
                                    </div>
                                    <p class="mb-0">
                                        <input type="button" id="resendCode" class="btn btn-link" value="Resend Code?" />
                                    </p>

                                    <!-- Button -->
                                    <div><button type="submit" class="btn btn-primary w-100 mb-0" id="sendMessageButton">Verify Code</button></div>

                                    <!-- Divider -->
                                    <div class="position-relative my-4">
                                        <hr>
                                        <p class="small bg-mode position-absolute top-50 start-50 translate-middle px-2">Or sign in with</p>
                                    </div>

                                    <!-- Google and facebook button -->
                                    @* <div class="vstack gap-3">
                                    <a href="#" class="btn btn-light mb-0"><i class="fab fa-fw fa-google text-google-icon me-2"></i>Sign in with Google</a>
                                    <a href="#" class="btn btn-light mb-0"><i class="fab fa-fw fa-facebook-f text-facebook me-2"></i>Sign in with Facebook</a>
                                    </div> *@

                                    <!-- Copyright -->
                                    <div class="text-primary-hover text-body mt-3 text-center"> Copyrights ©2024. Build by <a href="https://megwayparcels.co.uk/" class="text-body-secondary">Megway Parcels</a>.  </div>
                                    <!-- Form END -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Main Content END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->



<script src="~/theme/mail/jqBootstrapValidation.min.js"></script>
<script>

    $('#sendMessageButton').click(function () {
        if ($('#code').val() == null || $('#code').val() == "") {
            return false;
        }
        let _id = $('#customerId').val();
        $.ajax({
            url: "/Account/SaveResetPasswordVerifyCode?code=" + $('#code').val() + "&id=" + _id,
            type: "GET",
            datatype: "json",
            success: function (data) {
                debugger;
                if (data.status == 200) {
                    window.location.href = '/Account/SetNewPassword/' + data.customer.customerId
                } else {
                    $('#errorMessage').text(data.message)
                }
            },
            beforeSend: function () {
                $('.overlay').show();
            },
            error: function (xhr) { // if error occured
            },
            complete: function () {
                $('.overlay').hide();
            },

        });
    });
    $('#resendCode').click(function () {
        if ($('#email').val() == null || $('#email').val() == "") {
            return false;
        }
        $.ajax({
            url: "/Account/SendResetPassword?email=" + $('#email').val(),
            type: "GET",
            datatype: "json",
            async: false,
            success: function (data) {
                debugger;
                if (data.status == 200) {
                    $('#errorMessage').text('Code has been sent')
                } else {
                    // $('#errorMessage').text(data.message)
                    $('#errorMessage').text(data.message);
                }
            },
            beforeSend: function () {
                $('.overlay').show()
            },
            error: function (xhr) { // if error occured
            },
            complete: function () {
                $('.overlay').hide()
            },

        });
    });
</script>